@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    max-width: 1280px;
}
:root{
    --bg_white_color: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    --bg_pink_color: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    --description_color: rgb(83, 76, 100);
    --blue_color: rgb(11, 2, 35);
    --pink_color: rgb(255, 66, 165);
    --white_color: rgb(255, 255, 255);
    --shade_white_color: rgba(255, 255, 255, 0.6);
}
#text_linear_color{
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#text_pink_color{
    color: var(--pink_color);
}
.brand_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.brand_container .brand_title{
    font-size: 1.88rem; /* 45px */
    font-weight: 700;
    color: var(--blue_color);
}
.brand_container .brand_logo{
    height: 27px;
}
#brand_description_letter{
    color: var(--pink_color);
}
.banner_title1{
    font-size: 2.01rem; /* 48px */
    font-weight: 600;
    color: var(--blue_color);
}
.banner_title2{
    font-size: 3.98rem; /* 95px */
    font-weight: 800;
    color: var(--blue_color);
}
.title{
    font-size: 2.01rem; /* 48px */
    font-weight: 700;
    color: var(--blue_color);
}
.description1{
    color: var(--description_color);
    font-size: 0.84rem; /* 20px */
    font-weight: 500;
    line-height: 20px;
}
.description2{
    color: var(--description_color);
    font-size: 0.754rem; /* 18px */
    line-height: 20px;
}
.btn{
    font-size: 0.84rem; /* 20px */
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 27px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    background-color: var(--pink_color);
    color: var(--white_color);
}
.btn_blue{
    background-color: rgb(78, 197, 247);
    color: var(--white_color);
}
.btn_white{
    background-color: var(--white_color);
    color: var(--pink_color);
}
section{
    margin: 80px 160px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    /* common style */
    section{
        margin: 30px;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    /* common style */
    section{
        margin: 30px 100px;
    }
}












/* header section */
.header nav{
    margin: 30px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header nav ul li a, .nav_button_text{
    text-decoration: none;
    font-size: 0.754rem; /* 18px */
    font-weight: 500;
    color: rgb(60, 53, 79);
    cursor: pointer;
}
.header nav ul button{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 16px;
    border: none;
    border-radius: 6px;
}
.header nav ul button img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}


.header .banner{
    padding-right: 150px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 25px;
    background-color: rgb(248,248,248);
}
.header .banner .banner_container{
    padding: 80px 160px;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: 120% 118%;
}
.header .banner .banner_container .banner_description_container{
    margin: 16px 0;
    width: 240px;
}
.header .banner .banner_container .banner_description_container .banner_description_box{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}
.header .banner .banner_container .banner_description_container .banner_description_box img{
    height: 14px;
}
.header .banner .banner_container .btn1{
    margin-right: 15px;
}


.header .banner .banner_img_container{
    width: 476px;
}
.header .banner .banner_img_container img{
    width: 100%;
    height: 100%;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .header nav{
        margin: 30px;
        flex-direction: column;
        gap: 30px;
    }
    .header nav ul{
        flex-direction: column;
        gap: 20px;
    }

    .header .banner{
        padding: 0 30px;
        grid-template-areas: "container2"
                             "container1";
        background-color: var(--white_color);
    }
    .header .banner .banner_container{
        grid-area: container1;
        padding: 30px 130px;
    }
    .header .banner .banner_container .btn1{
        margin-right: 5px;
    }

    .header .banner .banner_img_container{
        grid-area: container2;
        width: 100%;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .header nav{
        margin: 30px 100px;
    }

    .header .banner{
        padding-right: 100px;
        gap: 15px;
    }
    .header .banner .banner_container{
        padding: 80px 100px;
    }
    .header .banner .banner_container .btn1{
        margin-right: 5px;
    }

    .header .banner .banner_img_container{
        width: 426px;
    }
}













/* gamer section */
.gamer{
    padding: 37px 160px;
    background-image: var(--bg_pink_color);
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 30px;
}
.gamer .gamer_img_container img{
    width: 100%;
    height: 100%;
}

.gamer .gamer_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 18px;
}
.gamer .gamer_container .description2, .gamer_container_footer{
    text-align: right;
}
.gamer .gamer_container .gamer_container_footer .description1{
    font-size: 1.005rem; /* 24px */
    padding-bottom: 5px;
}
.gamer .gamer_container .gamer_container_footer .description2{
    font-size: 1.34rem; /* 32px */
    font-weight: 700;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .gamer{
        padding: 30px;
        background-image: none;
        grid-template-columns: 1fr;
    }

    .gamer .gamer_container{
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }
    .gamer .gamer_container .description2, .gamer_container_footer{
        text-align: center;
    }
    .gamer .gamer_container .gamer_container_footer{
        margin-top: 30px;
        text-align: center;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .gamer{
        padding: 37px 100px 37px 80px;
        grid-template-columns: 1.05fr 0.95fr;
        gap: 20px;
    }

    .gamer .gamer_container{
        gap: 16px;
    }
}













/* video section */
.video .video_header{
    width: 50%;
    margin: 0 auto 32px;
    text-align: center;
}
.video .video_header .title{
    padding-bottom: 10px;
}
.video .video_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.video .video_container .video_container_item .video_img_container{
    position: relative;
    height: 270px;
    border-radius: 11px;
    margin-bottom: 16px;
}
.video .video_container .video_container_item .video_img_container .video_img{
    height: 100%;
    width: 100%;
}
.video .video_container .video_container_item .video_img_container .video_hover_container{
    display: none;
}
.video .video_container .video_container_item .video_img_container .video_img:hover ~.video_hover_container{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 11px;
}
.video .video_container .video_container_item .video_img_container .video_hover_container .video_hover_icon{
    height: 35px;
    width: 35px;
}
.video .video_container .video_container_item .video_img_container .video_hover_container .description1{
    font-weight: 600;
    color: var(--pink_color);
}
.video .video_container .video_container_item .video_special_description{
    width: 70%;
}

/* mobile responsive design */
@media screen and (max-width: 576px){
    .video .video_header{
        width: 90%;
        margin: 100px auto 50px;
    }
    .video .video_container{
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }
    .video .video_container .video_container_item .video_img_container{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video .video_container .video_container_item .video_img_container .video_img{
        width: 78%;
        height: 100%;
    }
    .video .video_container .video_container_item .video_img_container .video_img:hover ~.video_hover_container{
        width: 78%;
        left: 11%;
    }
    .video .video_container .video_container_item .video_special_description{
        width: 100%;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .video .video_header{
        width: 70%;
    }
    .video .video_container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "item1 item2 item3"
                             "empty item4 empty2";
        gap: 20px;
    }
    .video .video_container_item:nth-child(1){
        grid-area: item1;
    }
    .video .video_container_item:nth-child(2){
        grid-area: item2;
    }
    .video .video_container_item:nth-child(3){
        grid-area: item3;
    }
    .video .video_container_item:nth-child(4){
        grid-area: item4;
    }
}













/* play section */
.play .play_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play .play_container .play_text_container .description2{
    padding: 16px 0;
}
.play .play_container .play_img_container .play_hover_image{
    height: 245px;
    width: 213px;
}
.play .play_container .play_img_container .play_original_image{
    height: 400px;
    width: 100%;
}

.play .play_container_top{
    width: 70%;
    float: right;
}
.play .play_container_top .play_text_container{
    width: 30%;
    text-align: end;
}
.play .play_container_top .play_img_container{
    position: relative;
    margin-bottom: 70px;
}
.play .play_container_top .play_img_container .play_original_image{
    float: right;
}
.play .play_container_top .play_img_container .play_hover_image{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -90px;
    margin-bottom: -50px;
}

.play .play_container_bottom{
    flex-direction: row-reverse;
}
.play .play_container_bottom .play_text_container{
    width: 34%;
}
.play .play_container_bottom .play_img_container{
    position: relative;
    margin-bottom: 70px;
}
.play .play_container_bottom .play_img_container .play_hover_image{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -95px;
    margin-bottom: -80px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    .play{
        margin: 80px 0;
    }
    .play .play_container{
        flex-direction: column;
    }
    .play .play_container .play_text_container .description2{
        padding: 50px 0;
    }

    .play .play_container_top{
        width: 100%;
        float: none;
    }
    .play .play_container_top .play_text_container{
        width: 50%;
        text-align: center;
    }

    .play .play_container_bottom .play_text_container{
        width: 60%;
        text-align: center;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .play .play_container .play_img_container .play_hover_image{
        height: 205px;
        width: 173px;
    }
    .play .play_container .play_img_container .play_original_image{
        height: 350px;
        width: 90%;
    }

    .play .play_container_top{
        width: 100%;
        float: none;
    }
    .play .play_container_top .play_img_container .play_hover_image{
        margin-left: -50px;
    }


    .play .play_container_bottom .play_text_container{
        width: 40%;
    }
    .play .play_container_bottom .play_img_container .play_hover_image{
        margin-right: -95px;
        margin-bottom: -80px;
    }
}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}














/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}
