@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    max-width: 1280px;
}
:root{
    --bg_white_color: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    --bg_pink_color: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    --description_color: rgb(83, 76, 100);
    --blue_color: rgb(11, 2, 35);
    --pink_color: rgb(255, 66, 165);
    --white_color: rgb(255, 255, 255);
    --shade_white_color: rgba(255, 255, 255, 0.6);
}
.brand_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.brand_container .brand_title{
    font-size: 1.88rem; /* 45px */
    font-weight: 700;
    color: var(--blue_color);
}
.brand_container .brand_logo{
    height: 27px;
}
#brand_description_letter{
    color: var(--pink_color);
}
#text_linear_color{
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner_title1{
    font-size: 2.01rem; /* 48px */
    font-weight: 600;
    color: var(--blue_color);
}
.banner_title2{
    font-size: 3.98rem; /* 95px */
    font-weight: 800;
    color: var(--blue_color);
}
.title{
    font-size: 2.01rem; /* 48px */
    font-weight: 700;
    color: var(--blue_color);
}
.description1{
    color: var(--description_color);
    font-size: 0.84rem; /* 20px */
    font-weight: 500;
}
.description2{
    color: var(--description_color);
    font-size: 0.754rem; /* 18px */
}
.btn{
    font-size: 0.84rem; /* 20px */
    font-weight: 600;
    padding: 14px 27px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    background-color: var(--pink_color);
    color: var(--white_color);
}
.btn_blue{
    background-color: rgb(78, 197, 247);
    color: var(--white_color);
}
.btn_white{
    background-color: var(--white_color);
    color: var(--pink_color);
}
section{
    margin: 30px 160px;
}
/* mobile responsive design */
@media screen and (max-width: 576px){
    /* common style */
    section{
        margin: 30px;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    /* common style */
    section{
        margin: 30px 120px;
    }
}












/* header section */
.header nav{
    margin: 30px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header nav ul li a, .nav_button_text{
    text-decoration: none;
    font-size: 0.754rem; /* 18px */
    font-weight: 500;
    color: rgb(60, 53, 79);
    cursor: pointer;
}
.header nav ul button{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 16px;
    border: none;
    border-radius: 6px;
}
.header nav ul button img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}


.header .banner{
    padding-right: 150px;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 25px;
    background-color: rgb(248,248,248);
}
.header .banner .banner_container{
    padding: 80px 160px;
    background-image: url("../images/header_bg.png");
    background-position: center;
    background-size: cover
}
.header .banner .banner_container .banner_description_container{
    margin: 16px 0;
}
.header .banner .banner_container .banner_description_container .banner_description_box{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}
.header .banner .banner_container .banner_description_container .banner_description_box img{
    height: 14px;
}
.header .banner .banner_container .btn1{
    margin-right: 15px;
}

.header .banner .banner_img_container{
    width: 476px;
}
.header .banner .banner_img_container img{
    width: 100%;
    height: 100%;
}
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}













/*  */
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}














/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}
